body{
    background-color: lightgreen;
}
h1
{
    color:white;
    text-align: center;
    font-size: 50px;
}

h2
{
    color:white;
    text-align: center;
    font-size:30px;
}
#form-box{
width:600px;
margin:30px auto;
padding-left:15px;


}
form{
    color: white;
    font-size: 25px;
    margin:auto;
}

select , input{
    width: 200px;
}
#button-type{
    position:center;
    margin:relative;

    
}
button{
    text-align: center;
    background-color:darkgray;
    color:black;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin: auto;

}

table{
    text-align: left;
    width:500px;
    margin:30px auto;
    background-color: white;
    border-radius: 3px;

}
th{
    padding:10px;
}
td{
    padding:10px 15px;
    color:darkgrey;
}

.amount{
    color:red;
    text-align: right;
}

active{
    position: relative;
 
} 
div{
display: inline-block;
margin-right: 10px;
}
span{
    font-size: 1.3em;
    font-weight: 100;
    display: inline-block;
    width: 100px;
}

#type{
  width: 50px;
}
  
#date{
  width: 141px;
}
  
#amount{
  width: 100px;
}
    
#if-empty{
  text-align:center;
}
  